<!DOCTYPE html>
<html>
  <head>
    <title>Careers website</title>
    <style>
      body{
        font-family:"helvetica neue"
      }
      h1 {
        font-size:48px;
        font-weight:normal;
        text-align: center;
        color: rgb(200,50,50);
      }
      .bodytext,h3  {
        color: rgb(80,80,80)
      }
      #banner {
        width: 100%;
        height:360px;
        background-size: cover;
      }

      #container {
        max-width: 720px;
        margin:0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Amazing Careers</h1>
      <img id="banner" src="https://careers-website.jinithnair.repl.co/static/banner.jpg" >
      <h3>About us</h3>
      <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus aliquam eleifend mi in nulla posuere. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Donec ac odio tempor orci dapibus. Amet justo donec enim diam vulputate ut pharetra sit amet. Platea dictumst vestibulum rhoncus est pellentesque. Eu scelerisque felis imperdiet proin fermentum. Nunc lobortis mattis aliquam faucibus purus in. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Eget nulla facilisi etiam dignissim diam quis. Enim ut tellus elementum sagittis vitae et leo duis ut. Orci eu lobortis elementum nibh tellus. </p>
      <h3>Open positions</h3>
      <p class="bodytext"> Keep watching this space. Lots coming soon!</p>
      <div style="text-align: center">
          <button>Contact Us</button>
        <p>Copyright 2023, Jovian</p>
      </div>
      
    </div>
  </body>
</html>